<config control-bind="127.0.0.1:8059" version="1.0">
    <!-- see example-config.xml and config.xsd for more documentation -->
    <web-server context="${catalina.context.path}">
        <http bind=":8060" proxy-host="${catalina.connector.proxyHost}" proxy-port="${catalina.connector.proxyPort}" proxy-scheme="${catalina.connector.scheme}"/>
    </web-server>
    <security allow-anon="true" allow-cru-anon="true"/>
    <repository-defaults>
        <linker/>
        <allow/>
        <tarball enabled="false" maxFileCount="0"/>
        <security allow-anon="true"/>
    </repository-defaults>
</config>
